@using System.Web.UI.WebControls
@model WebApp.Models.JobsListModel
@{
    ViewBag.Title = "JobsList";
}



<br/>
<div class="grid container">
    <div class="row">
        <div class="cell-4">
            <h2> JobsList</h2>
        </div>
        <div class="cell-4">
            @Html.TextBox("searchtextbox", "", new { placeholder = "Search", data_role = "input", data_search_button = "true" })
        </div>
        <div class="cell-2 offset-2">
            <button class="button success">Create Job</button>
        </div>
        </div>
        <div class="row">
            <div class="cell-4">
                <select data-role="select">
                    @foreach (var el in Model.Categories)
                    {
                        <option>@el.Name</option>
                    }
                </select>
            </div>
            <div class="cell-4">
                <select data-role="select">
                    @foreach (var el in Model.Cities)
                    {
                        <option>@el.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">


            @foreach (var el in Model.jobs)
            {
                <div class="card">
                    <div class="card-header">
                        @el.Name
                    </div>
                    <div class="card-content p-2">
                        Card with header and footer...
                    </div>
                    <div class="card-footer">
                        @el.Salary
                    </div>
                </div>
            }


        </div>
    </div>
